<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://s2kdesign-001-site9.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://s2kdesign-001-site9.ctempurl.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>s2kdesign-001-site9</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\s2kdesign-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5031.SmarterASP.NET;Initial Catalog=DB_A0C86D_mltapi;User ID=DB_A0C86D_mltapi_admin;Password=svetlin90" Name="Data Source=SQL5031.SmarterASP.NET;Initial Catalog=DB_A0C86D_mltapi;User Id=DB_A0C86D_mltapi_admin;Password=svetlin90;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Multi_language.Data.MultiLanguageDbContext, Multi-language.Data" MigrationConfiguration="Multi_language.Data.Migrations.Configuration, Multi-language.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5031.SmarterASP.NET;Initial Catalog=DB_A0C86D_mltapi;User Id=DB_A0C86D_mltapi_admin;Password=svetlin90;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>