
<div class="row">
    <div class="col-md-4">
        @Html.Partial("InnerPartials/CurrentProjectInfoBox")

    </div>
    <div class="col-md-4">
        @Html.Partial("InnerPartials/LanguagesInfoBox")

    </div>
    <div class="col-md-4">
        @Html.Partial("InnerPartials/ContextsInfoBox")

    </div>
</div>
