

@{
    ViewBag.Title = "Languages";
    ViewBag.TitleSmall = "Index";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Languages", "", "fa-language")
    });
        ViewBag.LanguagesMenuItem = "active";
}
<div class="row">
    <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
         @Html.Partial("LanguagesPartials/LanguagesDataTable")
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts {
    @Scripts.Render("~/bundles/angular-languages-scripts")


    @*NOTE: These should NOT be used in a production situation
    They do contains useful snippets on how to setup charts*@
    <script src="~/Scripts/AdminLTE/pages/dashboard2.js"></script>
    <script src="~/Scripts/AdminLTE/demo.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/AdminLTE/plugins/iCheck/icheck.js"></script>

    <script>
        $(document).ready(function () {
            $('a[href$="showLanguages"]').click();
        });
    </script>
}