
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-book"></i>

                <h1 class="box-title">Getting started</h1>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" onclick="$.MltApi.ExpandAllPanels()" ><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body documentation-getting-started">
                <h1>Multi-Language API</h1>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-warning box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a href="#">
                                    #1 Start with creating project
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="box-body" style="background-color: darkgray">
                                <div class="col-md-10 col-md-offset-1">
                                    @Html.Partial("~/Views/DocMultilanguage/GettingStartedPartials/CreateProjectPartial.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-warning box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a href="#">
                                    #2 Add languages that your app will support
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body" style="background-color: darkgray">
                                <div class="col-md-10 col-md-offset-1">
                                    @Html.Partial("~/Views/DocMultilanguage/GettingStartedPartials/CreateLanguagesPartial.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-warning box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a href="#">
                                    #3 Continue with adding short contexts
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body" style="background-color: darkgray">
                                <div class="col-md-10 col-md-offset-1">
                                    @Html.Partial("~/Views/DocMultilanguage/GettingStartedPartials/CreateContextsPartial.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-warning box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a href="#">
                                    #4 And finish with adding translations
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body" style="background-color: darkgray">
                                <div class="col-md-10 col-md-offset-1">
                                    @Html.Partial("~/Views/DocMultilanguage/GettingStartedPartials/CreateTranslationsPartial.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
