<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
    Current version: @typeof(Multi_Language.MVCClient.MvcApplication).Assembly.GetName().Version <br />
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="http://s2kdesign.com" title="WWW.S2KDESIGN.COM">WWW.S2KDESIGN.COM</a>.</strong>
    All rights reserved.
</footer>
