@model Multi_Language.MVCClient.Models.SectionsViewModels.ProjectBoxViewModel
<!-- small box -->
<div class="small-box bg-red-gradient" id="active-project-box">
    <div class="inner">
        <h4>Active project:</h4>

        <p>
            @if (!String.IsNullOrWhiteSpace(Model.ProjectName))
            {
                @Model.ProjectName

                @User.Identity.GetActiveProject()
            }
            else if (ViewBag.AllProjects != null)
            {
                <span>You have to choose active project</span>

            }
            else
            {
                <span>You have to create project</span>
            }
        </p>
    </div>
    <div class="icon">
        <i class="fa fa-pencil-square"></i>
    </div>
    @if (ViewBag.AllProjects != null)
    {
        <a href="#" class="small-box-footer" onclick="ChangeActiveProject()">
            Change active project <i class="fa fa-arrow-circle-right"></i>
        </a>
    }
    else
    {
        @Ajax.RawActionLinkWithoutIcon("Create new project", "fa-globe", "Create", "Projects",
           null, new AjaxOptions { }, new { @class = "small-box-footer" })
    }
</div>

@if (ViewBag.AllProjects != null)
{
}
<script>
    function ChangeActiveProject() {
        $("#change-active-project-box").show(300);
    }
</script>