@model Multi_Language.MVCClient.Models.SectionsViewModels.ProjectBoxViewModel
<!-- small box -->
<div class="small-box bg-red-gradient">
    <div class="inner">
        <h3>Active project:</h3>

        <p>
            @if (User.Identity.GetActiveProject() != "0")
            {
                @Model.ProjectName
            }
            else
            {
                <span>You have to create project</span>
            }
        </p>
    </div>
    <div class="icon">
        <i class="fa fa-pencil-square"></i>
    </div>
    @if (User.Identity.GetActiveProject() != "0")
    {
        <a href="#" class="small-box-footer" onclick="ChangeActiveProject()">
            Change active project <i class="fa fa-arrow-circle-right"></i>
        </a>
    }
    else
    {
        @Ajax.RawActionLinkWithoutIcon("Create new project", "fa-globe", "Create", "Projects",
           null, new AjaxOptions { }, new { @class = "small-box-footer" })
    }
</div>
<div class="box box-danger box-solid" id="change-active-project-box" style="display: none;">
    <div class="box-header with-border">
        <h3 class="box-title">Choose project</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @User.Identity.GetActiveProject()
    </div>
    <!-- /.box-body -->
    @*<div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>*@
</div>
<!-- /.box -->
<script>
    function ChangeActiveProject() {
        $("#change-active-project-box").show(300);
    }
</script>