@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="pull-left">
            @Html.ActionLink("Profile",
           "Index",
           "Manage",
           routeValues: null,
           htmlAttributes: new { title = "Manage", @class = "btn btn-default btn-flat" })


        </div>
        <div class="pull-right">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>

        </div>


    }
}