@model Multi_Language.MVCClient.Models.SectionsViewModels.ProjectsBoxDropDownsViewModels


<div class="box box-danger box-solid" id="change-active-project-box" style="display: none;">
    <div class="box-header with-border">
        <h3 class="box-title">Choose project</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" onclick="RemoveBoxProjectDropDowns()"><i class="fa fa-times"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @Html.DropDownList("ProjectsDropDowns", Model.ProjectsDropDowns,
           null, htmlAttributes: new
           {
               @class = "form-control select2",
               id = "project-select",
               style = "width: 100%",
               onchange = "$.MltApi.ActiveProjectIsChanged(this);"
           })

    </div>
    <!-- /.box-body -->
    @*<div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>*@
</div>
<!-- /.box -->
<script>
    function RemoveBoxProjectDropDowns() {
        $("#change-active-project-box").hide(300, function () {
            var height = $("#active-project-box").height();
            console.log(height);
            $("#project-box").animate({
                height: height
            }, 300);
            });

    }
</script>